{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style-ex.css' %}"/>
    <link rel="shortcut icon" href="{% static 'img/icon/favicon.ico' %}" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400;700&amp;family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&amp;display=swap" rel="stylesheet"/>
    <title>About</title>
  </head>
  <body>
    <div class="black">
      <div class="container-small">
        <header>
          <div class="top-logo-container">
            <div class="yellow-back_logo"></div>
          </div>
          <nav>
            <ul>
              <li> <a href="index.html">Наши работы</a></li>
              <li> <a class="this">О нас</a></li>
              <li> <a href="#">Контакты</a></li>
            </ul>
          </nav>
        </header>
      </div>
    </div>
    <div class="learn-more_block">
      <div class="container-small">
        <div class="learn-more_text">
          <h1>Ex ipsum do eu culpa aliquip</h1>
          <h2>Non sint veniam non officia cupidatat.</h2>
          <p>Ex ipsum do eu culpa aliquip proident esse eiusmod. Adipisicing ullamco esse ad consectetur ullamco commodo ullamco elit cillum laborum eu magna. Tempor nulla eiusmod id do. Est ex proident ex ipsum fugiat non. Ullamco commodo ut quis sit sunt aliqua in exercitation ullamco laborum est sit. Magna cillum incididunt enim laborum amet consectetur quis ullamco in.</p>
        </div><img class="learn-more_img" src="{% static 'img/Bart.png' %}"/>
      </div>
    </div>
    <div class="learn-more_block short">
      <div class="container-small"><img class="learn-more_img" src="{% static 'img/Bart.png' %}"/>
        <div class="learn-more_text">
          <h1>Ex ipsum do eu culpa aliquip</h1>
          <h2>Non sint veniam non officia cupidatat.</h2>
          <p>Ex ipsum do eu culpa aliquip proident esse eiusmod. Adipisicing ullamco esse ad consectetur ullamco commodo ullamco elit cillum laborum eu magna. Tempor nulla eiusmod id do. Est ex proident ex ipsum fugiat non. Ullamco commodo ut quis sit sunt aliqua in exercitation ullamco laborum est sit. Magna cillum incididunt enim laborum amet consectetur quis ullamco in.</p>
        </div>
      </div>
    </div>
    <div class="learn-more_block short">
      <div class="container-small">
        <div class="learn-more_text">
          <h1>Ex ipsum do eu culpa aliquip</h1>
          <h2>Non sint veniam non officia cupidatat.</h2>
          <p>Ex ipsum do eu culpa aliquip proident esse eiusmod. Adipisicing ullamco esse ad consectetur ullamco commodo ullamco elit cillum laborum eu magna. Tempor nulla eiusmod id do. Est ex proident ex ipsum fugiat non. Ullamco commodo ut quis sit sunt aliqua in exercitation ullamco laborum est sit. Magna cillum incididunt enim laborum amet consectetur quis ullamco in.</p>
        </div><img class="learn-more_img" src="{% static 'img/Bart.png' %}"/>
      </div>
    </div>
    <div class="last-text">   
      <div class="container-small">Adipisicing elit sint consequat duis excepteur. Et aliquip tempor consectetur commodo esse est quis ullamco officia. Minim irure ad proident do officia sint veniam quis reprehenderit adipisicing ad fugiat commodo. Id ea cillum veniam veniam exercitation reprehenderit culpa. Anim reprehenderit aliquip officia officia voluptate. Cupidatat occaecat aute amet ut cillum cillum occaecat in laborum tempor. Non culpa proident veniam duis eu est commodo duis ex ullamco incididunt sunt ipsum. Quis reprehenderit ea tempor laboris exercitation aliqua ullamco et irure laboris. Voluptate aliqua duis aliquip sunt. Cupidatat aute ullamco reprehenderit in enim ullamco eu mollit cillum magna dolore incididunt reprehenderit ex. Sit cillum dolore proident occaecat ipsum tempor.</div>
    </div>
    <footer>
      <div class="container-small">
        <div class="social-media"><img src="{% static 'img/icon/lineb.png' %}" alt=""/><a href=""><img src="{% static 'img/icon/telegramb.png' %}" alt=""/></a><a href=""><img src="{% static 'img/icon/whatsupb.png' %}" alt=""/></a><a href=""><img src="{% static 'img/icon/instagramb.png' %}" alt=""/></a><a href=""><img src="{% static 'img/icon/facebookb.png' %}" alt=""/></a><a href=""><img src="{% static 'img/icon/vkb.png' %}" alt=""/></a><img src="{% static 'img/icon/lineb.png' %}" alt=""/></div>
        <div class="phone">Телефон: +7 (937) 225-55-71</div>
      </div>
    </footer>
  </body>
</html>